server {
  listen <=CustVIP=>:80;
  server_name <=myCustomer=>;

  error_log /opt/nginx/logs/<=myCustomer=>.error.log error;
  access_log /opt/nginx/logs/<=myCustomer=>.cache.log cache;
  access_log /opt/nginx/logs/<=myCustomer=>.transfer.log transfer;

  proxy_set_header Host "<=myCustomer=>";

  location / {
    proxy_pass http://upstream_backends;
    # proxy_cache cache_generic;
  }
}
